@media screen and ( min-width: 783px ) {
	.wc-backbone-modal-main.aymakan-shipping-form article table {
		min-width: 700px;
	}
}
.wc-backbone-modal-main.aymakan-shipping-form article table.widefat thead th {
	font-weight: bold;
	font-size: 14px;
}
.wc-backbone-modal-main.aymakan-shipping-form article table.widefat tbody td,
.wc-backbone-modal-main.aymakan-shipping-form article table.widefat thead th {
	width: 50%;
	vertical-align: top;
}
.wc-backbone-modal-main.aymakan-shipping-form article table.widefat tbody td:last-child,
.wc-backbone-modal-main.aymakan-shipping-form article table.widefat thead th:last-child {
	text-align: left;
}
.aymakan-shipping-form .form-row input[type="number"],
.aymakan-shipping-form .form-row input[type="tel"],
.aymakan-shipping-form .form-row input[type="text"],
.aymakan-shipping-form .form-row input[type="url"],
.aymakan-shipping-form .form-row select,
.aymakan-shipping-form .form-row textarea {
	line-height: 22px;
	padding: 5px;
	height: 34px;
}
.aymakan_show_modal.button,
.aymakan_show_modal.button:hover {
	color: #444;
	font-size: 14px;
	font-weight: 400;
	border-color: #f1d173;
	padding: 10px 20px 10px 50px;
	background: #fffcf1 url("../images/aymakan-icon.png") no-repeat 14px center;
	background-size: 10%;
	margin-top: 10px;
}
.aymakan_show_modal.button:hover {
	background-color: #fffcf1;
}
.aymakan-shipping-form,
.aymakan-shipping-form .desc_tip {
	position: relative;
}
.aymakan-shipping-form .desc_tip label::after {
	font-family: Dashicons;
	speak: none;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	text-indent: 0;
	position: absolute;
	top: 30px;
	left: auto;
	text-align: center;
	content: "";
	cursor: help;
	right: 5px;
	font-size: 20px;
	z-index: 10;
}
.aymakan-shipping-form .desc_tip .woocommerce-input-wrapper {
	padding-right: 30px;
	display: block;
	position: relative;
}
.aymakan-shipping-form .desc_tip .description {
	display: none;
	position: absolute;
	color: #fff;
	font-size: .8em;
	width: 98%;
	background: #333;
	text-align: center;
	border-radius: 3px;
	padding: .618em 1em;
	box-shadow: 0 1px 3px rgba(0,0,0,.2);
	bottom: 100%;
	left: 49%;
	transform: translateX(-50%);
}
.aymakan-shipping-form .desc_tip .description::after {
	content: "";
	position: absolute;
	border-color: transparent;
	border-style: solid;
	border-width: 6px;
	height: 0;
	width: 0;
	margin-top: 6px;
	margin-right: -6px;
	border-top-color: #333;
	display: block;
	right: 12px;
}
.aymakan-shipping-form .desc_tip label:hover ~ .woocommerce-input-wrapper .description {
	display: block;
}
.aymakan-shipping-form.loader::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(255,255,255,0.8);
	display: block;
	z-index: 10;
}
.aymakan-shipping-form.loader::before {
	content: "";
	height: 2em;
	width: 2em;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -.5em;
	margin-top: -.5em;
	display: block;
	background-image: url('../../../woocommerce/assets/images/icons/loader.svg') !important;
	background-position: center center;
	z-index: 11;
	color: #ccc;
	-webkit-animation: rotating 1s linear infinite;
	-moz-animation: rotating 1s linear infinite;
	-ms-animation: rotating 1s linear infinite;
	-o-animation: rotating 1s linear infinite;
	animation: rotating 1s linear infinite;
}
.aymakan-shipping-form .notification {
	position: absolute;
	top: 15px;
	right: 15px;
	z-index: 20;
}
.aymakan-shipping-form .notification span {
	display: block;
	background-color: rgba(138,48,48,0.9);
	color: #fff;
	padding: 10px 20px 10px 40px;
	margin-bottom: 10px;
	border-radius: 5px;
	box-shadow: 0 1px 3px rgba(0,0,0,.2);
	position: relative;
}
.aymakan-shipping-form .notification span::before {
	font-family: Dashicons;
	display: inline-block;
	top: 50%;
	transform: translateY(-50%);
	left: 8px;
	position: absolute;
	font-size: 22px;
}
.aymakan-shipping-form .notification span.aymakan-shipment-success {
	background-color: rgba(55, 138, 48, 0.9);
}
.aymakan-shipping-form .has-error {
	border-color: red !important;
}
@-webkit-keyframes rotating {
	from {
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes rotating {
	from {
		-ms-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-ms-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
